setuptools<82.0.0
langgraph
fastapi
uvicorn
gunicorn
google-generativeai
pydantic
pydantic-settings
python-dotenv
python-multipart
PyJWT
sqlalchemy
asyncpg
pandas
openpyxlsetuptools<82.0.0
langgraph
fastapi
uvicorn
gunicorn
google-generativeai
pydantic
pydantic-settings
python-dotenv
python-multipart
PyJWT
sqlalchemy
asyncpg
pandas
openpyxl